opencv-python
tqdm
matplotlib
timm
numpy==1.21.2
transformers==4.31.0
einops
supervision
sentencepiece==0.1.99
accelerate
groundingdino-py
git+https://github.com/facebookresearch/segment-anything.git
